Repository scramjetorg/transform-hub, pull requests merged in 2023-07, with the labels that each got.

#891 New AuditStream codes for CPM
  packages/symbols/src/op-record-code.ts
Labels: verified

#836 Add space client to AppContext
  package.json
  packages/host/src/lib/cpm-connector.ts
  packages/host/src/lib/host.ts
  packages/manager-api-client/src/manager-client.ts
  packages/runner/Dockerfile
  packages/runner/package.json
  packages/runner/src/runner-app-context.ts
  packages/runner/src/runner.ts
  packages/sth-config/src/config-service.ts
  packages/sth/src/bin/hub.ts
  packages/types/src/api-client/host-client.ts
  packages/types/src/api-client/index.ts
  packages/types/src/app-context.ts
  packages/types/src/client-utils/client-utils.ts
  packages/types/src/client-utils/index.ts
  packages/types/src/index.ts
  packages/types/src/manager-api-client/manager-client.ts
  packages/types/src/sth-configuration.ts
Labels: verified, ready to review

#857 Feat/CLI Topic Create Delete
  .eslintignore
  .eslintrc
  bdd/features/e2e/E2E-013-topic.feature
  bdd/step-definitions/e2e/host-steps.ts
  packages/api-client/src/host-client.ts
  packages/cli/src/lib/commands/topic.ts
  packages/host/jest.config.js
  packages/host/package.json
  packages/host/src/index.ts
  packages/host/src/lib/csi-controller.ts
  packages/host/src/lib/host.ts
  packages/host/src/lib/sd-adapter.ts
  packages/host/src/lib/sequenceStore.ts
  packages/host/src/lib/serviceDiscovery/contentType.ts
  packages/host/src/lib/serviceDiscovery/sd-adapter.ts
  packages/host/src/lib/serviceDiscovery/streamHandler.ts
  packages/host/src/lib/serviceDiscovery/topic.ts
  packages/host/src/lib/serviceDiscovery/topicHandler.ts
  packages/host/src/lib/serviceDiscovery/topicId.ts
  packages/host/src/lib/serviceDiscovery/topicRouter.ts
  packages/host/src/lib/serviceDiscovery/topicsController.ts
  packages/host/test/common-logs-pipe.spec.ts
  packages/host/test/pass.spec.ts
  packages/host/test/serviceDiscovery/sd-discovery.spec.ts
  packages/host/test/serviceDiscovery/topic.spec.ts
  packages/model/src/stream-handler.ts
  packages/obj-logger/src/obj-logger.ts
  packages/obj-logger/src/utils/streams.ts
  packages/runner/src/runner.ts
  packages/types/src/rest-api-sth/get-topics.ts
Labels: verified, cli, feature request

#907 option to revoke all keys using --all flag
  packages/cli/src/lib/commands/sequence.ts
  packages/cli/src/lib/commands/space.ts
  packages/middleware-api-client/src/middleware-client.ts
  packages/types/src/rest-api-multi-manager/access-key.ts
Labels: ready to merge, API

#919 Feat/get sequence
  packages/api-client/src/host-client.ts
  packages/cli/src/lib/commands/sequence.ts
  packages/cli/src/lib/commands/space.ts
Labels: to verify, cli, ready to review
