Repository scramjetorg/transform-hub, pull requests merged in 2023-02, with the labels that each got.

#793 Hide `client` field in `HostClient` class.
  packages/api-client/src/host-client.ts
Labels: verified, cli

#802 Add host id to logs
  packages/host/src/lib/cpm-connector.ts
  packages/host/src/lib/host.ts
  packages/sth/Dockerfile
  yarn.lock
Labels: verified

#801 Add audit and log endpoints to cli
  packages/api-client/src/host-client.ts
  packages/cli/src/lib/commands/hub.ts
  packages/cli/src/lib/commands/space.ts
  packages/middleware-api-client/src/middleware-client.ts
Labels: verified

#806 cli_docs_generator
  packages/cli/src/bin/index.ts
  packages/cli/src/lib/commands/developerTools.ts
  packages/cli/src/lib/commands/hub.ts
  packages/cli/src/lib/commands/index.ts
  packages/cli/src/lib/commands/init.ts
  packages/cli/src/lib/commands/scope.ts
  packages/cli/src/lib/commands/si.ts
  packages/cli/src/lib/commands/space.ts
  packages/cli/src/lib/commands/store.ts
  packages/cli/src/lib/commands/topic.ts
  packages/cli/src/lib/helpers/developerTools.ts
  packages/cli/src/types/commander-completion.d.ts
  packages/cli/src/types/index.ts
Labels: enhancement, verified, cli
